In [5]:
from pathlib import Path
import pandas as pd
import numpy as np
import re
import json

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

import matplotlib.pyplot as plt

import plotly.graph_objects as go
from plotly.subplots import make_subplots

# %matplotlib inline
PROJECT_ROOT = Path.cwd().parent
data_path = PROJECT_ROOT.joinpath('data')
print(PROJECT_ROOT)

/home/gabe/Coding/nlpcourseproject

In [6]:
pred_path = data_path.joinpath('predictions')

In [9]:
aqua_data = pd.DataFrame.from_records(list(map(
    json.loads,
    pred_path.joinpath('AQuA_validation.jsonl').read_text('utf-8').splitlines(False)
)))
craigslist_data = pd.DataFrame.from_records(list(map(
    json.loads,
    pred_path.joinpath('craigslist_bargains_validation.jsonl').read_text('utf-8').splitlines(False)
)))

In [13]:
aqua_data.groupby(['run_name','name','prediction']).size().reset_index().groupby(['run_name','prediction']).median()

                         0
run_name prediction
T0       A             7.0
         B            26.0
         C           161.0
         D            26.0
         E            34.0
T5       A             2.0
         B           171.0
         E            48.0

In [11]:
aqua_data.head()

,run_name,name,id,prediction,target,input,choice_logits
0,T5,T5.Original_aqua_rat_raw.Answer_questions_from...,0,B,A,Solve the following question and choose the co...,"{'0': -23.602636337280273, '1': -20.0794544219..."
1,T5,T5.Original_aqua_rat_raw.Answer_questions_from...,1,B,D,Solve the following question and choose the co...,"{'0': -23.74020004272461, '1': -19.50389862060..."
2,T5,T5.Original_aqua_rat_raw.Answer_questions_from...,2,B,C,Solve the following question and choose the co...,"{'0': -23.875225067138672, '1': -19.8538379669..."
3,T5,T5.Original_aqua_rat_raw.Answer_questions_from...,3,E,B,Solve the following question and choose the co...,"{'0': -24.927553176879883, '1': -20.7527313232..."
4,T5,T5.Original_aqua_rat_raw.Answer_questions_from...,4,B,C,Solve the following question and choose the co...,"{'0': -24.51395034790039, '1': -20.52626419067..."